<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Ionic Image Upload
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3 *ngIf="images.length == 0" text-center>Please Select Image!</h3>

    <ion-list>
        <ion-item *ngFor="let img of images; index as pos" text-wrap>
            <ion-thumbnail slot="start">
                <ion-img [src]="img.path"></ion-img>
            </ion-thumbnail>
            <ion-label>
                {{ img.name }}
            </ion-label>
            <button ion-button type="button" block icon-left (click)="startUpload(img)">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
            <button ion-button type="button" block icon-left (click)="deleteImage(img, pos)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <button ion-button type="button" block icon-left color="light" (click)="selectImage()">
            <ion-icon name="camera"></ion-icon>
            Select Image
        </button>
    </ion-toolbar>
</ion-footer>